/* Style pour le conteneur du contenu (bulle de chat) */
#contenu {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

/* Style pour le titre h1 (nom de l'expéditeur) */
#contenu h1 {
    font-size: 40px;
    margin-bottom: 5px;
    color: #333; /* Couleur du nom de l'expéditeur */
}

/* Style pour les paragraphes (messages) */
#contenu p {
    font-size: 16px;
    margin-bottom: 5px;
}





/* Réinitialisation des styles par défaut du navigateur */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de base pour le formulaire */
#ajtdepense {
    margin: 10px;
    max-width: 400px; /* Largeur maximale du formulaire */
    margin: 0 auto; /* Centrer le formulaire horizontalement */
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

/* Style pour le titre */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style pour les étiquettes des champs */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Style pour les champs de texte */
input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

/* Style pour les boutons */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

/* Style pour les messages d'erreur */
.error {
    color: red;
    font-size: 14px;
}

/* Styles pour la mise en page mobile */
@media (max-width: 768px) {
    #contenu,
    #ajtdepense {
        max-width: 90%;
    }
}




#mois_dps{
    width: 83px;
    padding: 0px;
    
}

#annee_dps{
    width: 73px;
    padding: 0px;
    
}
#categorie_dps{
    width: 88px;
    padding: 0px;
    
}
#achat_necessaire_dps{
    width: 118px;
    padding: 0px;
    
}
