/* Style pour le conteneur du contenu (bulle de chat) */
#contenu {
  height: 495px;
  background-color: black;
  color: #fff;
  border-radius: 10px;
  padding: 10px 15px;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 10px;
}

/* Style pour le titre h1 (nom de l'expéditeur) */
#contenu h1 {
  border-radius: 10px;
  background-color: gray;
  text-align: center;
  font-size: 40px;
  margin-bottom: 46px;
}

/* Style pour les paragraphes (messages) */
#contenu p {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Réinitialisation des styles par défaut du navigateur */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style de base pour le formulaire */
#ajtdepense {
  margin: 10px;
  max-width: 400px; /* Largeur maximale du formulaire */
  margin: 0 auto; /* Centrer le formulaire horizontalement */
  padding: 20px;
  color: white;
  background-color: black;
  border: 5px solid gray;
  border-radius: 20px;
  text-align: center;
}

/* Style pour le titre */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style pour les étiquettes des champs */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Style pour les champs de texte */
input[type="text"],
textarea,
select {
  background-color: white;
  padding: 10px 20px;
  border: 2px solid gray;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

#ajtdepense input[type="text"],
#ajtdepensetextarea,
#ajtdepense select {
  border: 3px solid gray;
}

/* Style pour les boutons */
input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

/* Style pour les messages d'erreur */
.error {
  color: red;
  font-size: 14px;
}

/* Styles pour la mise en page mobile */
@media (max-width: 950px) {
  #contenu,
  #ajtdepense {
    max-width: 90%;
  }
}

/* dialogue information */

#mois_dps {
  width: 83px;
  padding: 0px;
  padding-left: 10px;
  margin-bottom: 3px;
}

#annee_dps {
  width: 73px;
  padding: 0px;
  padding-left: 10px;
  margin-bottom: 3px;
}
#categorie_dps {
  width: 88px;
  padding: 0px;
  padding-left: 10px;
  margin-bottom: 3px;
}
#achat_necessaire_dps {
  width: 118px;
  padding: 0px;
  padding-left: 10px;
  margin-bottom: 3px;
}

#formrp {
  float: right;
  background-color: #007bff;
}

#intro,
#rp {
  float: left;
  background-color: #323232;
}
#intro,
#formrp,
#rp {
  max-width: 80%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}
#formrenseignement {
  margin-left: 31%;
  background-color: lightsteelblue;
  color: black;
  margin-top: 9px;
  border-radius: 25px;
}

#toute_depense {
  display: none;
}
